* {
  background: #141414;
  color: #ffffff;
  padding: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.movie-app .col {
  overflow-y: auto;
  flex-wrap: nowrap;
}

.name-container {
  position: relative;
  transition: transform 0.2s;
}

.name-container:hover {
  cursor: pointer;
}

.name-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 1rem;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
