* {
  color: #ffffff;
  padding: auto;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 35%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./components/img.jpg") no-repeat center;
  background-size: cover;
  padding: 0;
}

.movie-app .col {
  overflow-y: auto;
  flex-wrap: nowrap;
}

.heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(238, 97, 62),
    rgb(101, 240, 108),
    rgb(101, 177, 240) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.name-container {
  position: relative;
  transition: transform 0.2s;
}

.name-container:hover {
  cursor: pointer;
}

.name-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 1rem;
  padding: 20px;
  justify-content: center;
}

.remove-btn {
  background-color: red;
  color: black;
  margin-right: 0;
  size: 5px;
  float: right;
}

.like-btn {
  background-color: green;
}

.pending {
  color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
}
