* {
  color: #ffffff;
  padding: auto;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 35%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./components/img.jpg") no-repeat center;
  background-size: cover;
  padding: 0;
}

.movie-app .col {
  overflow-y: auto;
  flex-wrap: nowrap;
}

.name-container {
  position: relative;
  transition: transform 0.2s;
}

.name-container:hover {
  cursor: pointer;
}

.name-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 1rem;
  padding: 20px;
  justify-content: center;
}
